@charset "utf-8";
/* CSS Document */
.body {
	text-transform:capitalize;}

#Container
{
	width: 96%;
	max-width: 900px;
	margin-top:35px;
	margin-bottom:35px;
	margin-right: auto;
	margin-left: auto;
	border-radius: 8px;
	box-shadow: 0px 4px 10px 0px #000;
	border: solid thin 2px;
	background-color: #FFF;
	background-image: url(../images/bg_body.png);
	padding-top: 8px;
	padding-right: 8px;

	padding-bottom: 20px;
	padding-left: 8px;
	box-sizing: border-box;
}

/* Note: Voter portal uses Voter/style.css for container styling; not overridden here */

#Adminlogin{
	padding: 20px;
	margin: 1.5rem auto;
	width: 100%;
	max-width: 100%;
	height: auto;
	color: #CCC;
	background-color: #333;
	border-radius: 15px;
	box-shadow: 0px 4px 10px 0px #000;
	font-family: "Times New Roman", Times, serif;
	text-align: center;
	box-sizing: border-box;
}


#flag {
	float: left;
	height: 85px;
	width: 150px;
	background-position: center;
	background-image: url(../images/Flag_of_Nigeria.png);
	background-repeat: no-repeat;
	border-radius: 8px;
	margin-left: 400px;
	margin-bottom: 40px;
}
#Password {
	height: 25px;
	width: 290px;
	padding-top: 2px;
	padding-left: 4px;
	font-family: "Times New Roman", Times, serif;
	color: #060;
	font-size: 16px;
	border: 2px solid #333;
	text-transform: capitalize;
}
#ConfirmPassword {
	height: 25px;
	width: 290px;
	padding-top: 2px;
	padding-left: 4px;
	font-family: "Times New Roman", Times, serif;
	color: #060;
	font-size: 16px;
	border: 2px solid #333;
	text-transform: capitalize;
}
#Username {
	height: 25px;
	width: 290px;
	padding-top: 2px;
	padding-left: 4px;
	font-family: "Times New Roman", Times, serif;
	color: #060;
	font-size: 16px;
	border: 2px solid #333;
	text-transform: capitalize;
}